@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap");
* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #000;
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }

#wrapper {
  height: auto !important; }
